@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700';

.samples {
  clear: both;
}

html,body {
  height: 80%;
  font-size: 18px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333;
  margin: 0;
  padding: 0;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

body {
  margin: 80px 0;
}

.heading:after {
  content: "";
  display: block;
  clear: both;
}

h1.title {
  font-size: 80px;
  font-weight: 700;
  display: block;
  float: center;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

p.important {
  font-weight: 700;
  text-transform: capitalize;
}

a {
  color: #776e65;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

strong.important {
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.restart-button {
  background: #8f7a66;
  border-radius: 3px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right;
  padding: 0 20px;
}

input[type=text] {
  font-size: 18px;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;

  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

input[type=text]:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

button[type=button] {
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
  background: #bbb;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  padding: 5px 25px;


  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button[type=button]:active { 
  outline: none;
  background: #9ecaed;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

table tr {
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
}

tr:nth-child(2) {
  border-top: none;
  font-weight: 700;
}

#sunrise,#sunset {
  display: none;
  margin-top: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #eee;
}

#output-container {
  margin-bottom: 30px;
}

#user-location-container {
  display: block;
}

#powered {
  margin-bottom: 15px;
}

@media screen and (max-width: 520px) {
  html,body {
    font-size: 15px;
  }

  body {
    margin: 20px 0;
    padding: 0 20px;
  }

  h1.title {
    font-size: 27px;
    margin-top: 15px;
  }

  .container {
    width: 320px;
    margin: 0 auto;
  }

  button[type=button] {
    padding: 5px 10px;
    font-size: 15px;
  }

  input[type=text] {
    width: 200px;
    font-size: 15px;
  }
}